@model CarMaintenance.Bill

@{
    ViewData["Title"] = "新增帳單";
}

<h1>新增帳單</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BillCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label">@ViewBag.CarId</label>
                <input asp-for="CarId" class="form-control" />
                @* <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>*@
            </div>
            @*<div class="form-group">
            <label asp-for="CarId" class="control-label"></label>
            <input asp-for="CarId" class="form-control" value="@ViewBag.CarId" readonly />
            <span asp-validation-for="CarId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="IsDelete" /> @Html.DisplayNameFor(model => model.IsDelete)
            </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回客戶列表</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
